	 <div style="height: 600px; position: relative; margin-bottom:10px;" id='map'>
	 	<!--<nav id='map-ui' class='menu-ui'>
	 		 <a href='#' class='active' id='findme_but'>Find Me</a> 
	 	</nav>-->
	 </div>
	 <%= javascript_include_tag "maps/make_map" %>
	</div>