<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <%= render 'shared/maps/root_map'%>
                </div>
                <hr>
                <div class="row">

          <!--      <div class="container">
                    <div class="col-sm-12">
                        <div class="btn-group">

                        </div>
                    </div>
                    <div class="col-sm-4">
                        <%= form_tag(root_path, remote: true,method: :get) do %>
                        <div class="input-daterange input-group" id="datepicker">  
                            <span class="input-group-addon">from</span>
                            <input type="text" class="input-sm form-control" name="start" />
                            <span class="input-group-addon">to</span>
                            <input type="text" class="input-sm form-control" name="end" />
                        </div>
                        <div><%= submit_tag 'Save' %></div>
                        <% end%>
                        <script>
                        $('.input-daterange').datepicker({
                            format: "dd/mm/yyyy 00:00:00",
                            weekStart: 1,
                            todayBtn: "linked",
                            clearBtn: true,
                            todayHighlight: true
                        });
                        </script>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>
