<div class="row">
<div class="col-md-12">
	<strong>Cars info:</strong>
</div>
</div>

<div class="row">
<div class="col-md-12">
<table class="table" >
	<tbody>
		<tr>
			<td>Total cars:</td>
			<td ><%=@user.cars.count%></td>
		</tr>
		<tr>
			<td>Total tracks:</td>
			<td ><%=@tracks.count%></td>
		</tr>
	</tbody>
</table>
</div>
</div>
<div class="row">
</div>