<div class="center jumbotron">
  <h1>Reset your password</h1>
  <h2>To your email address sent an email with instructions required to reset your password. Please check your e-mail!</h2>
</div>
<div class="row ">
  <div class ="col-sm-offset-3 col-sm-4">  
    <%= form_tag("recive_email_for_reset_pass",method: "post", class:'inline-form') do  %>
      <div class="form-inputs">
        <div class="form-group">
          <div class="input-group ">
            <span class="input-group-addon">@</span>
            <%= email_field_tag(:email,nil, class:"form-control",placeholder:"Email") %>
          </div>
        </div>
       </div>
      </div>
      <%= submit_tag("Send instructions", class: "btn btn-default") %>
    <% end %>
  </div>
</div>
