<% provide(:title,'User settings') %>
<div class="center jumbotron container">
   <div class="col-md-12">
    <h1><%=t('.head1')%></h1>  
  </div>
</div> 

<div class="container">
  <div class="row">
    <%= render 'shared/settings_nav' %>
    <div class="col-md-10 well" id="content">
      <div class='row'>
        <div class="col-md-12">
        <% breadcrumb :settings, current_user %>
        <%= breadcrumbs style: :bootstrap%>
        </div>
      </div>
      <div class='row'>
        <%=render 'edit' %>
      </div>
    </div>
  </div>
</div>


<script> 
$('input[type=file]').bootstrapFileInput();
</script>
