<% provide(:title,'Registration') %> 
<div class="center jumbotron">
<h1>Sign up</h1>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6  col-sm-offset-3 col-md-4 col-md-offset-4" id="signup_tab">
    <%=render 'new', user:@user, remote:true %>
    </div>
</div>
