<% provide(:title,"Verification")%>
<div class="center jumbotron">
<h1> Verification</h1>
<h2>To your email address sent an email with instructions required to confirm your e-mail. Please check your e-mail!</h2>
</div>
  <div class="row ">
    <aside class ="col-md-3">
    </aside>
  <div class ="col-md-6">  
    <%=render 'users/verification_form' %>
    <%# render 'shared/modals/form', form:'users/verification_form', id:'verification_form', title:'Verification', run: 'auto', type:'warning' %>
  </div>
</div>
