<% provide(:title,"Verification")%>
<div class="center jumbotron">
<h1> <%=t('verification')%></h1>
<h2><%=t('.head2')%></h2>
</div>
  <div class="row ">
    <aside class ="col-md-3">
    </aside>
  <div class ="col-md-6">  
    <%=render 'users/verification_form' %>
  </div>
</div>
