<%
    remote||=false
%>
<%# LOGIN IS ONLY REMOTE:FALSE!!!!!!%>
<div class="tabbable"> <!-- Only required for left/right tabs -->
<ul class="nav nav-tabs">
<li class="active"><a href="#signup_tab" data-toggle="tab">Sign up</a></li>
<li><a href="#signin_tab" data-toggle="tab">Log in</a></li>
</ul>
<div class="tab-content">
<div class="tab-pane active" id="signup_tab">
    <%= render  'users/new', remote: remote %>
</div>
<div class="tab-pane" id="signin_tab">
    <%= render  'sessions/new', remote: false %>
</div>
</div>
</div>
