$(document).on("turbolinks:load", function(){
  $(".question-trigger").click(function() {
  		$(this).next().collapse('toggle');
      if( $(this).children().hasClass("glyphicon-plus")){
      	$(this).children().removeClass("glyphicon-plus");
      	$(this).children().addClass("glyphicon-minus");
    	}else{
        $(this).children().removeClass("glyphicon-minus");
      	$(this).children().addClass("glyphicon-plus");                         
      }
  });
  $('.panel .panel-heading').each(function(i){
    $("#faq-navigator").append('<li><a data-turbolinks="false" href="#'+$( this ).parent().attr('id')+'">'+$( this ).text()+'</a></li>')
  });
  $("#faq-navigator").append('<li><a data-turbolinks="false" href="#top">'+I18n.t("faq.back_to_top")+'</a></li>')
  $('body').scrollspy({
    target: '.bs-docs-sidebar',
    offset: 40
});

});