$lighthGray: #999;

$gray-darker:  #222;
$gray-dark:    #333;
$gray:         #555;
$gray-light:   #777;
$gray-lighter: #eee;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.menu-ui {
  background:$gray-dark;
  position:absolute;
  top:10px;right:35px;
  z-index:1;
  border-radius:3px;
  width:100px;
  border:1px solid $gray-darker;
  opacity: 0.5
  }
  .menu-ui a {
    font-size:13px;
    color: #FFF;
    display:block;
    padding:10px;
    text-decoration:none;
    border-bottom: 2px solid #000;
    text-align:center;
    }
    .menu-ui a:first-child {
      border-radius:3px 3px 0 0;
      }
    .menu-ui a:last-child {
      border:none;
      border-radius:0 0 3px 3px;
      }
    .menu-ui a:hover {
      background:$lighthGray;
      color:#FFF;
      }
    .menu-ui a.active {
      font-weight: bold;
      background: #111;
      color: #FFF;
      }
      .menu-ui a.active:hover {
        background: #FFF;
        color: #111;
        opacity: 0.5;
      }


.debug_dump{
  background: #222;
  color:#EEE;
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

html {
    overflow-y: scroll;
}


section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

h1, h2, h3, h4, h5, h6{
    line-height: 1;
}

h1{
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 15px;
  text-align: center;
}

h2{
  font-size: 1.2em;
  letter-spacing: 1px;
  margin-bottom: 0px;
  text-align: center;
  font-weight: normal;
  color: $lighthGray;
}
h3{
  font-size: 1.1em;
  line-height: 1.7em;
}
h5{
  font-size: 1.2em;
  letter-spacing: 1px;
  text-align: center;
  font-weight: normal;
  color: $lighthGray;
}

.empty_message{
    text-align: center;
    margin-bottom: 2px;
}



.navbar-center{
    position: absolute;
	width: 100%;
	left: 0;
	text-align: center;
	margin: auto;
	font-size:10pt;
		display:inline;
}
.navbar-static-bottom {
   height:60px;
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
}

.avatar-big{
    overflow: auto;
    margin-top : 25px;
  }

.menu-head{
  margin-right: 10px;
}

.loading{
  background-color: black;
  opacity: 0.5;
}

.about-icon{
  margin-top: 15px;
}
.navbar-right{
  margin-right:10px;
}

.question-head{
  font-size: 1.2em;
  font-weight: normal;
  color: $lighthGray;
}

.row-centered {
    text-align:center;
}