<% provide(:title,"Edit #{@car.title}") %>
<div class="center jumbotron container">
   <div class="col-md-12">
    <h1>Edit <%=@car.title%></h1>  
  </div>
</div> 

<div class="container">
  <div class="row">
    <%= render 'shared/settings_nav' %>
    <div class="col-md-10 well" id="content">
      <div class='row'>
        <div class="col-md-12">
          <% breadcrumb :edit_car, current_user %>
          <%= breadcrumbs style: :bootstrap%>
        </div>
      </div>
      <div class='row'>
        <%=render 'new_form' %>
      </div>
    </div>
  </div>
</div>


<script> 
$('input[type=file]').bootstrapFileInput();
</script>