<% provide(:title,'Contacts') %> 
<div class="center jumbotron">
<h1>Contacts Us</h1>
</div>
<div class="row">
  <div class="col-xs-4 col-md-offset-4">
      <%#= render 'new', mail: @mail %>
      <%= render 'shared/modals/form', form: 'new', id:'contact_modal', title: t("contact_us"), without_footer: true, remote:true %>
      <a data-turbolinks="false" onclick="contact_modal_call()" href="#"><%=t("contact_us")%></a>
    </div>
</div>

